* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#banner {
  background-image: url("./images/background9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner .banner {
  background-color: rgba(242, 242, 242, 0.6);
  padding: 5rem 0;
}
#banner .carousel-inner .carousel-left,
#banner .carousel-inner .carousel-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}
#banner .carousel-inner .carousel-item-container {
  display: flex;
}

#banner .carousel-item-container .read-more {
  border: 2px solid #ff2b09 !important;
  padding: 0.6rem 2.8rem;
  background-color: transparent;
  transition: all 600ms;
}
#banner .carousel-item-container h5 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
#banner .carousel-item-container p {
  font-size: 1rem;
  font-style: italic;
}

#banner .carousel-item-container .read-more:hover {
  background-color: #ff2b09;
  color: #fff;
}
