* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @media only screen and (max-width: 1199px) {
    padding: 0 5%;
  }
}

//header

header {
  padding: 1rem 0;
  //   background-color: #7b5c5c;
  position: absolute;
  z-index: 1;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      ul {
        display: flex;
        gap: 2rem;
        li {
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: #d73e4d;
            }
          }
        }
      }
    }
  }
}

//hero banner

#hero-banner {
  .hero-banner {
    .carousel {
      .carousel-inner {
        .carousel-item {
          img {
            height: 100vh;
          }
          .carousel-container {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            transform: translate(-50%, -50%);

            button {
              border: 1px solid #d73e4d;
              width: 170px;
              height: 50px;
              background-color: transparent;
              color: #fff;
              position: relative;
              z-index: 3;
              transition: all 1s;
              &:hover {
                box-shadow: inset 12em 0 0 0 #d73e4d;
              }
              &:focus {
                box-shadow: inset 12em 0 0 0 #d73e4d;
              }
            }
          }
        }
      }
    }
  }
}

//about

#about {
  background-color: #d78e8e;
  .about {
    padding: 3rem 0;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    .about-cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      .about-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
        .fa-heart {
          position: absolute;
          right: 10px;
          font-size: 1.5rem;
          color: red;
          cursor: pointer;
        }
        img {
          width: 50%;
        }
        a {
          border: 1px solid #d73e4d;
          padding: 0.5rem 1rem;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

// add-product

#add-product {
  height: 50vh;
  background-color: teal;
  .add-product {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      width: 50%;
      display: flex;
      gap: 2rem;
      flex-direction: column;
      align-items: center;
      input {
        padding: 5px 10px;
        width: 100%;
      }
      button {
        padding: 5px 25px;
        cursor: pointer;
      }
    }
    .error {
      display: none;
      color: red;
      margin: 20px 0;
    }
  }
}
