* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 1199px) {
  .container {
    padding: 0 5%;
  }
}

header {
  padding: 1.5rem 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  transition: all 0.7s;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header nav ul {
  display: flex;
  gap: 2rem;
}
header .header nav ul li a {
  color: #fff;
  text-decoration: none;
}
header .header nav ul li a:hover {
  color: #d73e4d;
}
header .header .menu-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  header .header nav {
    display: none;
    position: absolute;
    top: 77px;
    left: 0;
    background-color: rgba(15, 14, 14, 0.7);
    width: 100%;
  }
  header .header nav ul {
    padding: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  header .header nav.show {
    display: flex;
  }
  header .header .menu-icon {
    display: block;
  }
  header .header .menu-icon .fa-solid {
    color: #fff;
    font-size: 1rem;
  }
}
header.header-scroll {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(15, 14, 14, 0.7);
}
header.details-header {
  background-color: rgba(215, 152, 158, 0.862745098);
}

#hero-banner .hero-banner .carousel .carousel-inner .carousel-item img {
  height: 100vh;
}
#hero-banner .hero-banner .carousel .carousel-inner .carousel-item .carousel-container {
  position: absolute;
  left: 50%;
  top: 65%;
  width: 100%;
  transform: translate(-50%, -50%);
}
#hero-banner .hero-banner .carousel .carousel-inner .carousel-item .carousel-container button {
  border: 1px solid #d73e4d;
  width: 170px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  position: relative;
  cursor: pointer;
  z-index: 3;
  transition: all 1s;
}
#hero-banner .hero-banner .carousel .carousel-inner .carousel-item .carousel-container button:hover {
  box-shadow: inset 12em 0 0 0 #d73e4d;
}

#about {
  padding: 2rem 0;
}
#about .about {
  padding: 3rem 0;
}
#about .about .about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#about .about .about-info .bg-red {
  width: 10%;
  height: 2px;
  background-color: #d73e4d;
}
#about .about .about-info p {
  max-width: 800px;
  margin: 45px 0;
  opacity: 0.6;
}
#about .about .about-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
#about .about .about-cards .about-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  box-shadow: 5px 5px 5px #ddd;
  padding: 1rem;
}
#about .about .about-cards .about-card .fa-heart {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}
#about .about .about-cards .about-card img {
  width: 50%;
}
#about .about .about-cards .about-card a {
  border: 1px solid #d73e4d;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  #about .about .about-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  #about .about .about-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

#add-product {
  height: 50vh;
  background-color: teal;
}
#add-product .add-product {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#add-product .add-product form {
  width: 50%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
#add-product .add-product form input {
  padding: 5px 10px;
  width: 100%;
}
#add-product .add-product form button {
  padding: 5px 25px;
  cursor: pointer;
}
#add-product .add-product .error {
  display: none;
  color: red;
  margin: 20px 0;
}

#details {
  padding-top: 150px;
}
#details .details .details-card {
  display: flex;
  gap: 10px;
}
#details .details .details-card .image {
  width: 50%;
}
#details .details .details-card .image img {
  width: 100%;
}
#details .details .details-card .details-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#details .details .details-card .details-info h1 {
  font-size: 2rem;
}
#details .details .details-card button {
  border: 1px solid #d73e4d;
  width: 170px;
  height: 50px;
  background-color: transparent;
  color: #d73e4d;
  position: relative;
  cursor: pointer;
  z-index: 3;
  transition: all 1s;
}
#details .details .details-card button:hover {
  box-shadow: inset 13em 0 0 0 #d73e4d;
  color: white;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #d73e4d;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s;
}
.back-to-top i {
  font-size: 1rem;
  color: white;
}
.back-to-top.show {
  opacity: 1;
}

#meet {
  height: 100vh;
}
#meet .meet {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
#meet .meet .meet-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#meet .meet .meet-text p {
  padding-top: 10px;
  max-width: 800px;
}
#meet .meet .meet-text .border-bottom {
  height: 7px;
  background-color: red;
  width: 78px;
}
#meet .meet .meet-cards {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#meet .meet .meet-cards .meet-card {
  width: 30%;
  position: relative;
}
#meet .meet .meet-cards .meet-card .image img {
  width: 100%;
}
#meet .meet .meet-cards .meet-card .card-text {
  text-align: center;
  padding: 20px 0;
  background-color: #e6e6e6;
}
#meet .meet .meet-cards .meet-card .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  width: 100%;
  padding: 20px 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.7s;
  background-color: #e6e6e6;
}
#meet .meet .meet-cards .meet-card .social-icons i {
  font-size: 20px;
  padding: 20px;
}
#meet .meet .meet-cards .meet-card:hover .social-icons {
  bottom: 3%;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */